body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
td{
    background-color: lightskyblue;
    border-radius: 5px;
    padding: 10px;
}

button {
    background-color: blue;
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.refresh {
    background-color: blue;
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
}
